<!doctype html>
<html lang="en" data-beasties-container>
<head>
  <meta charset="utf-8">
  <title>AngularProject</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="static/angular-project/browser/favicon.ico">
<style>*{margin:0;padding:0;box-sizing:border-box;font-family:Verdana,-apple-system,sans-serif}:root{--PRIMARY:#003ee7;--COLOR:#000;--BLUR:#001858c2;--HOVER:#ffd900;--COLOR-FADE:#3b3b3b;--BG-INPUT-COLOR:#585858ab;--BG-COLOR:#ffffff}@media (prefers-color-scheme: dark){:root{background-color:#202020;color:#fff;--COLOR:#fff;--COLOR-FADE:#c9c9c9;--BG-INPUT-COLOR:#bdbdbdab;--BG-COLOR:#202020}}</style><link rel="stylesheet" href="static/angular-project/browser/styles-S3ZPBXQU.css" media="print" onload="this.media='all'"><noscript><link rel="stylesheet" href="static/angular-project/browser/styles-S3ZPBXQU.css"></noscript></head>
<body>
  <app-root></app-root>
<link rel="modulepreload" href="static/angular-project/browser/chunk-B7HZTANI.js"><script src="static/angular-project/browser/polyfills-B6TNHZQ6.js" type="module"></script><script src="static/angular-project/browser/main-WBHJXJIH.js" type="module"></script></body>
</html>
